<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&amp;family=Raleway:ital,wght@0,400;0,700;1,800&amp;family=Roboto&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
  </head>
  <body>
    <header class="header">
      <div class="g-container">
        <h1 class="header_logo"><a href="../index/index.html" style="background: url(../../assets/images/logo.svg)">HOTEL</a></h1>
        <nav><a class="u-hamburger" href="">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div></a>
          <ul class="header_nav">
            <li class="u-dropdown"><a class="u-dropdown_btn jq_language_btn" href="./blog.html"> <span class="material-icons">language</span><span class="u-arrow jq_header_arrow"></span></a>
              <ul class="u-dropdown_select jq_language_select">
                <li><a href="">繁體中文</a></li>
                <li><a href="">简体中文</a></li>
                <li><a href="">English</a></li>
              </ul>
            </li>
            <li class="u-dropdown user-control"><a class="u-dropdown_btn" href="#"> 
                <div class="user-icon"><img src="https://images.unsplash.com/photo-1487309078313-fad80c3ec1e5?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt=""/></div>
                <p>David Lin</p><span class="u-arrow"></span></a></li>
            <li class="header_sign"><a href="./sign.html">註冊</a></li>
            <li class="header_login"><a href="../login/login.html">登入</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="receive g-container">
      <div class="receive-wrap">
        <h2 class="u-title">Reservation received!</h2>
        <div class="block">
          <div class="flex mb-16">
            <p class="name">Guest</p>
            <p class="value">David Lin</p>
          </div>
          <div class="flex mb-16">
            <p class="name">Email</p>
            <p class="value">david0520@mail.com.tw</p><a class="tips" href="#">Confirmation email sent to this address</a>
          </div>
          <div class="flex">
            <p class="name">phone</p>
            <p class="value">+886 9 32 456 789</p>
          </div>
        </div>
        <div class="block">
          <div class="flex">
            <p class="name">room</p>
            <p class="value">Deluxe Suite with Pool / 2 nights</p>
          </div>
        </div>
        <div class="block mb-24">
          <div class="flex mb-16">
            <p class="name">check-in</p>
            <p class="value">Wednesday, 17 June 2020</p>
          </div>
          <div class="flex">
            <p class="name">check-out</p>
            <p class="value">Friday, 19 June 2020</p>
          </div>
        </div>
        <div class="btn-group"><a class="btn out-line" href="">edit reservation</a><a class="btn" href="../index/index.html">Homepage</a></div>
      </div>
    </main>
    <footer class="footer">
      <ul class="g-container">
        <li class="footer_msg">
          <p>© 2020 ALOHA, Inc. All rights reserved.</p>
          <div class="box"><a href="#">常見問題</a><a href="#">使用條款</a><a href="#">隱私政策</a></div>
        </li>
        <li class="footer_dropdown">
          <div class="u-dropdown footer_dropdown-language"><a class="u-dropdown_btn jq_footer_language_btn" href="#"> <span class="material-icons">language</span><span class="text">繁體中文</span><span class="u-arrow jq_footer_language_arrow"></span></a>
            <ul class="u-dropdown_select jq_footer_language_select">
              <li><a href="">繁體中文</a></li>
              <li><a href="">简体中文</a></li>
              <li><a href="">English</a></li>
            </ul>
          </div>
          <div class="u-dropdown footer_dropdown-dollar"><a class="u-dropdown_btn jq_footer_dollar_btn" href="#"> <span class="material-icons">attach_money</span><span class="text">TWD</span><span class="u-arrow jq_footer_dollar_arrow"></span></a>
            <ul class="u-dropdown_select jq_footer_dollar_select">
              <li><a href="">TWD</a></li>
              <li><a href="">HKD</a></li>
              <li><a href="">USD</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../assets/javascripts/vendors/vendor.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="../../assets/javascripts/all.js"></script>
  </body>
</html>