
footer.footer
  .container-fluid.footer_banner
    .container.h-100.px-0.px-md-3
      .row.h-100.align-items-center
        .col-12.col-md-5
          h3.mb-5.mb-md-7.footer_text.font-weight-bold.text-white 訂閱最新消息及優惠!
          .row.no-gutters
            .col-8
              input.form-control.rounded-left.bg-transparent.border-right-0.text-white(type='text', placeholder="您的電子郵件")
            .col-4
              input.form-control.btn-primary.rounded-right(type="button", value="訂閱")
  .container-fluid.bg-dark
    .container.px-0.px-md-3
      nav.navbar.navbar-expand-lg.px-0.flex-column.flex-md-row.align-items-start.align-items-md-center
        h4.order-0.navbar-brand.footer_logo Furniture
        p.order-4.order-md-2.text-info.mb-0 © 2020. All Rights Reserved.
        ul.order-3.mb-7.mb-md-0.navbar-nav.ml-md-auto
          li.nav-item.mr-7
            a.nav-link(href='#') 採購政策
          li.nav-item.mr-7
            a.nav-link(href='#') 隱私政策
          li.nav-item
            a.nav-link(href='#') 條款及細則


