
main.member

  section.g-container
    .member_wrap
      .col-8
        .member_order
          h3.u-title My Bookings
          ul.member_order_nav
            li.active
              a(href="") Upcoming
            li
              a(href="") Completed
          ul.member_order_list
            li.u-card
              .u-card_img
                img(src="https://images.unsplash.com/photo-1560747571-e9b3c7e7868c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80", alt="")
              .u-card_body
                .u-card_item
                  span.material-icons hotel
                  .text
                    p.text-1 Rachada Hotel
                    p.text-2 Deluxe Suite with Pool

                .u-card_item
                  span.material-icons date_range
                  .text
                    p.text-1 17 June 2020 - 19 June 2020
                    p.text-2 2 nights・2 adults

                .u-card_item
                  span.material-icons attach_money
                  .text
                    p.text-1 TWD 4,633
                    p.text-2 includes taxes and charges

              a(href="").view-btn view details


            li.u-card
              .u-card_img
                img(src="https://images.unsplash.com/photo-1584931999791-83ae17b2a4d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt="")
              .u-card_body
                .u-card_item
                  span.material-icons hotel
                  .text
                    p.text-1 WOW Life Hotel
                    p.text-2 Standard Double Room

                .u-card_item
                  span.material-icons date_range
                  .text
                    p.text-1 8 Sep 2020 - 15 Sep 2020
                    p.text-2 7 nights・2 adults

                .u-card_item
                  span.material-icons attach_money
                  .text
                    p.text-1 TWD 13,084
                    p.text-2 includes taxes and charges

              a(href="").view-btn view details
    
      .col-4
        .member_detail
          .member_detail_title
            h3.u-title Profile
            .badges
              span.material-icons done
              p VERIFIED
            a(href="").edit-btn EDIT

          .member_detail_content
            .text.user
              h3.text-1.mb-24 User details

              p.text-2.mb-16 David Lin
              p.text-2.mb-16 david0520@mail.com.tw
              p.text-2.mb-24 +886 9 32 456 789
              
            .text
              h3.text-1.mb-24 Payment methods
              .credit
                .block
                  p.text-2 xxxx-xxxx-7890
                  p.text-2 DAVID LIN
                  p.text-2 08/2029
                  span.fab.fa-cc-visa
                .block.add
                  a(href="").material-icons add

            img.user-img(src="https://images.unsplash.com/photo-1487309078313-fad80c3ec1e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", alt="")


