


main.receive.g-container
  .receive-wrap
    h2.u-title Reservation received!
    
    .block
      .flex.mb-16
        p.name Guest
        p.value David Lin
      .flex.mb-16
        p.name Email
        p.value david0520@mail.com.tw
        a(href="#").tips Confirmation email sent to this address
      .flex
        p.name phone
        p.value +886 9 32 456 789
    .block
      .flex
        p.name room
        p.value Deluxe Suite with Pool / 2 nights
    .block.mb-24
      .flex.mb-16
        p.name check-in
        p.value Wednesday, 17 June 2020
      .flex
        p.name check-out
        p.value Friday, 19 June 2020

    .btn-group
      a.btn.out-line(href="") edit reservation
      a.btn(href="../index/index.html") Homepage