<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&amp;family=Raleway:ital,wght@0,400;0,700;1,800&amp;family=Roboto&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
  </head>
  <body>
    <header class="header">
      <div class="g-container">
        <h1 class="header_logo"><a href="../index/index.html" style="background: url(../../assets/images/logo.svg)">HOTEL</a></h1>
        <nav><a class="u-hamburger" href="">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div></a>
          <ul class="header_nav">
            <li class="u-dropdown"><a class="u-dropdown_btn jq_language_btn" href="./blog.html"> <span class="material-icons">language</span><span class="u-arrow jq_header_arrow"></span></a>
              <ul class="u-dropdown_select jq_language_select">
                <li><a href="">繁體中文</a></li>
                <li><a href="">简体中文</a></li>
                <li><a href="">English</a></li>
              </ul>
            </li>
            <li class="u-dropdown user-control"><a class="u-dropdown_btn" href="#"> 
                <div class="user-icon"><img src="https://images.unsplash.com/photo-1487309078313-fad80c3ec1e5?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt=""/></div>
                <p>David Lin</p><span class="u-arrow"></span></a></li>
            <li class="header_sign"><a href="./sign.html">註冊</a></li>
            <li class="header_login"><a href="../login/login.html">登入</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="login">
      <div class="left" style="background: url('https://images.unsplash.com/photo-1559321623-f0c2b0e82d3d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2134&amp;q=80')">
        <div class="login_title">
          <h2 class="title">An ideal hotel makes a<br> wonderful Trip.</h2>
          <h3 class="description">Discover your dream destination and hotel on ALOHA.com</h3>
          <div class="badges"><span class="material-icons">place</span>
            <p>Osaka Castel, Japan </p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="login_form">
          <h3>Login</h3>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email"/>
          </div>
          <div class="form-group">
            <label for="">Passwords</label>
            <input type="password"/>
          </div>
          <p class="tips">By signing in or creating an account, you agree with our<a href="">Terms & Conditions</a>and<a href="">Privacy Statement</a></p>
          <div class="form-group check-set">
            <input type="checkbox" name="remember"/>
            <label for="remember">Remember me</label>
          </div>
          <div class="form-group"><a class="btn" href="../login/member.html" title="title">Login</a>
            <div class="tips text-center">Don’t have an account yet? <a href="">Sign up</a></div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../assets/javascripts/vendors/vendor.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="../../assets/javascripts/all.js"></script>
  </body>
</html>