<!DOCTYPE html>
html(lang="en")
  head
    include ../../page_modules/layout/_headImformation.pug

  body
    include ../../page_modules/layout/_header.pug

    include ../../page_modules/page/_detail.pug

    include ../../page_modules/layout/_footer.pug

    include ../../page_modules/layout/_bodyJsScript.pug