
main.checkbout.home.success_page
  section.container.banner
    .row.flex-nowrap.align-items-center
      .col-12.col-md-6.banner-pos
        .banner_body.text-center.text-md-left
          h2.mb-5.text-dark.font-weight-bold 付款成功 !
          p.mb-7.text-secondary 您的訂單已收到。</br> 我們將寄送電子郵件確認。
        a.px-7.form-control.btn-primary.btn-md-inline.d-md-inline.text-center(href="../product/product.html") 繼續購物
      .col-12.banner_bg

  