

main.home
  
  section.container.banner.mb-7.mb-md-8
    .row.flex-nowrap.align-items-center
      .col-12.col-md-6.banner-pos
        .banner_body.text-center.text-md-left
          h2.mb-5.text-dark.font-weight-bold 享受極簡的</br>生活方式。
          p.mb-7.text-secondary 台灣最好的家具品牌</br> 首次購物免運費。
        a.px-7.form-control.btn-primary.btn-md-inline.d-md-inline.text-center(href="../product/product.html") 購買去
      .col-12.banner_bg

  ul.container.section1
    li.row.align-items-center.mb-6
      .col-md-6 
        img.mb-3.mb-md-0.img-fluid(src="https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="")
      .col-md-6
        .row.justify-content-center
          .col-md-8
            article
              h2.mb-3.h4.text-dark.font-weight-bold  天然認證的木頭
              p.mb-5.text-info 100%經過認證的合法，可持續，負責任的木質家具，正因為純天然的且在木製家具的製程中不會釋放有害化學物質，最終也可經生物完全分解，不會對地球造成負擔。
              a.text-primary.font-weight-bold(href="") 更多
    li.row.align-items-center.mb-6.flex-row-reverse
      .col-md-6 
        img.mb-3.mb-md-0.img-fluid(src="https://images.unsplash.com/photo-1566373924413-3efde9d6eb67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="")
      .col-md-6 
        .row.justify-content-center
          .col-md-8
            article
              h2.mb-3.h4.text-dark.font-weight-bold  精湛工藝職人手作
              p.mb-5.text-info 家具向來以精湛手藝聞名四方。關鍵在於木頭在製成家具前會先經過一次機器磨砂，在製成後還會經過多一輪手工磨砂。正就是因為多層細膩的專業加工處理，才會擁有完美無瑕的磨砂表層。
              a.text-primary.font-weight-bold(href="") 更多
    li.row.align-items-center.mb-7.mb-md-8
      .col-md-6 
        img.mb-3.mb-md-0.img-fluid(src="https://images.unsplash.com/photo-1550598052-a04a3ba16111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="")
      .col-md-6 
        .row.justify-content-center
          .col-md-8
            article
              h2.mb-3.h4.text-dark.font-weight-bold  愛護環境永續經營
              p.mb-5.text-info 非法採伐破壞了許多天然森林，家具堅持只使用人造木頭製成家具，因為在人工林中每砍伐一棵就必須種植一棵新樹。除了確保木料供應的穩定，也兼顧愛護地球保護森林永續發展。
              a.text-primary.font-weight-bold(href="") 更多

  section.section2.mb-7.mb-md-8
    .container.h-100
      .row.flex-column.flex-md-row.justify-content-between.align-content-center.h-100.py-5.py-md-0
        .col-md-4
          h2.font-weight-bold.text-white “我希望讓生活的工藝更加簡單。”
        .col-md-3
          .text
            p.mb-1.text-secondary 藝術指導
            h4.mb-3.text-white Tony Oki
            .d-flex
              a.mr-5.text-primary.font-weight-bold(href="") Instagram
              a.text-primary.font-weight-bold(href="") Twitter

  section.section3
    .container
      ul.row.list-unstyled.px-0.mb-8.home_slick
        li.col-4
          .card.border-0
            img.mb-2.card-img-top(src='https://images.unsplash.com/photo-1577306379609-dfba3ea2513d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='')
            h4.mb-1.text-dark.font-weight-bold.card-title 高級原木書桌
            .card-text.d-flex
              p.mr-1 NT$1,080
              p.text-info
                del
                  |NT$1,200
            p.saleMark.text-white.font-weight-bold On Sale 
            
        li.col-4
          .card.border-0
            img.mb-2.card-img-top(src='https://images.unsplash.com/photo-1476365518243-f738bf58443d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80', alt='')
            h4.mb-1.text-dark.font-weight-bold.card-title 小方桌
            .card-text.d-flex
              p.mr-1 NT$2,800
            
        li.col-4
          .card.border-0
            img.mb-2.card-img-top(src='https://images.unsplash.com/photo-1588084580191-db8604397b3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80', alt='')
            h4.mb-1.text-dark.font-weight-bold.card-title 實木電腦桌
            .card-text.d-flex
              p.mr-1 NT$4,800
            
        li.col-4
          .card.border-0
            img.mb-2.card-img-top(src='https://images.unsplash.com/photo-1581839672503-4e762accfbdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='')
            h4.mb-1.text-dark.font-weight-bold.card-title 實木辦公桌
            .card-text.d-flex
              p.mr-1 NT$1,080
            
        li.col-4
          .card.border-0
            img.mb-2.card-img-top(src='https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='')
            h4.mb-1.text-dark.font-weight-bold.card-title 實木桌
            .card-text.d-flex
              p.mr-1 NT$1,080
        li.col-4
          .card.border-0
            img.mb-2.card-img-top(src='https://images.unsplash.com/photo-1580480095047-4aa43ab3bd1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', alt='')
            h4.mb-1.text-dark.font-weight-bold.card-title 電腦椅
            .card-text.d-flex
              p.mr-1 NT$1,080
