script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="../../assets/javascripts/vendors/vendor.js")
script(type='text/javascript', src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js')
script(src="../../assets/javascripts/all.js")