
footer.footer
  ul.g-container
    li.footer_msg
      p © 2020 ALOHA, Inc. All rights reserved.
      .box
        a(href="#") 常見問題
        a(href="#") 使用條款
        a(href="#") 隱私政策
    li.footer_dropdown

      .u-dropdown.footer_dropdown-language
        a.u-dropdown_btn.jq_footer_language_btn(href="#") 
          span.material-icons language
          span.text 繁體中文
          span.u-arrow.jq_footer_language_arrow
        ul.u-dropdown_select.jq_footer_language_select
          li
            a(href="") 繁體中文
          li
            a(href="") 简体中文
          li
            a(href="") English

      .u-dropdown.footer_dropdown-dollar
        a.u-dropdown_btn.jq_footer_dollar_btn(href="#") 
          span.material-icons attach_money
          span.text TWD
          span.u-arrow.jq_footer_dollar_arrow
        ul.u-dropdown_select.jq_footer_dollar_select
          li
            a(href="") TWD
          li
            a(href="") HKD
          li
            a(href="") USD